---
---
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

$font-size: 11pt;
$section-margin: 5pt;

html,body{
    height: 297mm;
    width: 210mm; 
    margin: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

// person name
h1 {
    margin-top: 0pt;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 35pt;
    font-weight: normal;
    font-family: 'Pinyon Script', cursive;
}

// section title
h2 {
    font-size: $font-size + 5pt;
    font-weight: normal;
    font-family: 'Lobster', cursive;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0;
    // color: #4E4E4E;
}

// links
a, a:visited {
    color: #214485;
}

// paragraphs
p {
    font-size: $font-size;
    margin-top: 5pt;
    margin-bottom: 5pt;
    min-width: 140mm;
}

// column layout
.columns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

// section layout
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $section-margin;
}

// contact section
.contact {
    display: flex;
    flex-direction: column;
    gap: 7px;

    i {
        font-size: $font-size + 1pt;
        color: black;       
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;     
        }
}

// language section
.language {
    margin: 5px;
}

// programming section
.programming {
    display: flex;
    flex-direction: column;

    .item {
        display: inline-block;
        line-height: 0.8rem;
        font-size: 0.7rem;
        background: none;
        margin: 5px;
        text-decoration: none;

        .item-inner {
            display: flex;
            flex-direction: row;
            align-items: center;

               img {
                width: 20px;
                height: 20px;
                    } 
            }
    }
}

// hobby section
.hobby {
    margin: 5px;
}

// education and experience entries
.entry {
    margin-top: 5pt;
    margin-bottom: 5pt;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    img {
        height: 44px;
        width: 44px;
        margin-right: 5px;
        }

    .title {
        font-size: $font-size + 1pt;
        font-weight: 600;
        }

    .subtitle {
        font-size: $font-size;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
        }

    .entry-items {
        display: flex;
        flex-direction: column;
        }

    .loc {
        float: right;
        color: #BDC3C7;
        }

    .time {
        float: right;
        color: #BDC3C7;
        }

}

// publication section
.publication{ 
 padding-left: 49px;
 i {
    font-size: $font-size + 1pt;     
    }
}

// project section
.project{
    padding-left: 49px;
    img {
    width: 20px;
    height: 20px;
    }
}

// vertical rule
.vr {
  // border-left: 0;
  border: 0;
  padding-left: 2px;
  background: linear-gradient(to bottom, transparent, #FF8F8F, transparent);  // #d0d0d5
  height: 100vh;
}

// A4 printing
@media print {
    body{
        height: 297mm;
        width: 210mm;
   } 
}