<div class="entry">
   <img src="{{include.icon | prepend: '/imgs/' | prepend: site.baseurl}}"> 

<div class="entry-items">
      <div>
         <span class="title">{{include.title}}</span> <span class="loc"><i class="bi bi-geo-alt"></i>{{include.loc}}</span>
      </div>
      <div>
         <span class="subtitle">{{include.subtitle}}</span> <span class="time">{{include.time}}</span>
      </div>
      <div class="description">
        <p>{{include.description}}</p>  
      </div>  
</div>
</div>